- content_for :title do
  = @title

- content_for :head do
  :javascript
    var app_root = "#{app_root}";
    var posturl_api = app_root+'/posturl.json';
    var posttext_api = app_root+'/posttext.json';
    var preview_api = app_root+'/preview.json';
    var save_api = app_root+'/save.json';
  %script{:type => 'text/javascript', :src => "#{app_root}/js/main.js"}

%div
  %div
    %h3> URL:
    %input{:id=>"url",:size=>80}
    %button{:id => 'sendURL' } SendURL
    %hidden{:id => 'saved_url'}
  %div
    %h3 Text:
    %textarea{:id=>"textmd",:rows=>6,:cols=>100,:value=>""}
    %button{:id => 'preview' } Preview
  %div
    %h3 CommitLog:
    %input{:id=>'commitlog',:size=>60}
    Path and its pagename (eg. javascript/tutorial):
    %input{:id=>'commitpath'}
    %button{:id => 'save'} save
  %hr
  %div{:id=>"preview_text"}
